"custom/connman": {
    "exec": "/path/to/bin/waybar_connman run",
    "format": "{icon}  {text}",
    "format-icons": {
        "ethernet": "🌐",
        "offline": "⚠",
        "quit": "☹",
        "wifi": " "
    },
    "hide-empty-text": true,
    "restart-interval": 60,
    "return-type": "json",
    "tooltip": true
}
